html {
  width: 100%;
  min-width: 720px;
  height: 100%;
  position: relative;
}
body {
  position: absolute;
  width: 100%;
  left: 0px;
  margin: auto;
  text-align: center;
  font-size: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #000;
  color: #FFF;
  height: 728px;
}




h1 {
  font-family: 'Poiret One', cursive;
  font-weight: normal;
  font-size: 60px;
}
.splitflap {
  font-size: 120px;
  /*margin-bottom: 30px;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.splitflap .segment {  
  position: relative;
  display: inline-block;
  margin: 0 4px;
  font-weight: bold;
  width: 105px;
}

.splitflap:after {
  content: " ";
  display: table;
  clear: both;
}

.splitflap .segment ol {
  padding: 0;
  margin: 0;
  position: relative;
}

.splitflap .segment li {
  position: absolute;
  display: block;
  top:0;
  left: 0;
  overflow: hidden;
  text-align: center;
  height: .48em;
  width: 100%;
}


.splitflap .top li:first-child {
  position: static;
}

.splitflap .bottom li:last-child {
  position: static;
}

.splitflap .top li.falling {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.splitflap .top li {
  color: #FFF;    
  background-color: #333;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  -webkit-transition: -webkit-transform 110ms 0 ease-out;
  transition: transform 110ms 0ms ease-out;
  -webkit-transform: scaleY(1);
  -webkit-transform-origin: 50% 100%;
  transform: scaleY(1);
  transform-origin: 50% 100%;
}

.splitflap .segment ol.top {
  margin-bottom: .03em;
  line-height: 1;
}

.splitflap .bottom li {
  color: #CCC;
  line-height: 0;
  background-color: #333;
  -webkit-transition: -webkit-transform 100ms 60ms ease-in;
  transition: transform 100ms 60ms ease-in;
  -webkit-border-bottom-right-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;

  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.splitflap .bottom li.current, .splitflap .bottom li.falling {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

#main {
  width: 100%;
  margin: -15px auto 30px;
}
#total.splitflap .segment:nth-child(3) {
  margin-right: 20px;
}


#daily {
  width: 100%;
  margin: 0px auto;
  /*padding-left: 62px;*/
}

#daily #yesterday-container {
  width: 45%;
  height: 50px;
  margin-top: 10px;
  float: left;
}

#today.splitflap, #yesterday.splitflap {
  /*margin-top: -25px;*/

}

#today.splitflap .segment, #yesterday.splitflap .segment {
  margin-top: 10px;
  width: 85px;
  font-size: 130px;
}
#daily #compare {
  width: 10%;
  height: 110px;
  margin-top: 70px;
  float: left;
  font-size: 120px;
  line-height: 110px;
}
#daily #today-container {
  width: 45%;
  height: 110px;
  margin-top: 10px;
  float: left;
}


#logo {
  position: absolute;
  width: 100px;
  height: 75px;
  right: 40px;
  top: 650px;
  background: url("../images/akqa.png") center center no-repeat;
  background-size: 100%;
}
.url-footer {
  margin-top: 72px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.graph-container {
  height: 600px;
  width: 100%;
  min-width: 1024px;
  margin: 150px auto 50px;
}
.graph-container .current-date-time div {
  display: inline-block;
  margin-right: 20px;
}

.graph-container .current-month-info {
  width: 800px;
  height: 50px;
  margin: 0px auto;
}
.graph-container .prev-month {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.graph-container .prev-month .button {
  cursor: pointer;
  display: none;
}
.graph-container .month {
  display: inline-block;
  width: 300px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}

.graph-container .next-month {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}

.graph-container .next-month .button {
  cursor: default;
  display: none;
}

.graph {
  height: 480px;
  width: 1000px;
  margin: 50px auto 0px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  position: relative;
}
.graph .notches {
  position: absolute;
  height: 360px;
  width: 10px;
  left: -6px;
}

.graph .notches .notch {
  width: 10px;
  border-top: 1px solid white;
  margin-bottom: 120px;
}
.graph .ylegend {
  position: absolute;
  height: 360px;
  width: 10px;
  top: -8px;
  left: -70px;
}

.graph .ylegend .number {
  width: 50px;
  height: 120px;
  text-align: right;
  font-size: 18px;
}

.graph .xlegend {
  position: absolute;
  width: 100%;
  bottom: -25px;
  left: 0px;
}


.graph .xlegend .hour {
  display: inline-block;
  width: 32px;
  text-align: center;
  font-size: 12px;
}
.graph .bars {
  width: 1000px;
  height: 480px;
  position: relative;
  left: 25px;
}
.graph .bars .hour {
  position: absolute;
  height: 0px;
  width: 28px;
  background: white;
  bottom: 0px;
  left: 0px;
}

.graph .bars .hour .value {
  position: absolute;
  bottom: 0px;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.graph .bars .hour:nth-child(2) {
  left: 40px;
}
.graph .bars .hour:nth-child(3) {
  left: 80px;
}
.graph .bars .hour:nth-child(4) {
  left: 120px;
}
.graph .bars .hour:nth-child(5) {
  left: 160px;
}
.graph .bars .hour:nth-child(6) {
  left: 200px;
}
.graph .bars .hour:nth-child(7) {
  left: 240px;
}
.graph .bars .hour:nth-child(8) {
  left: 280px;
}
.graph .bars .hour:nth-child(9) {
  left: 320px;
}
.graph .bars .hour:nth-child(10) {
  left: 360px;
}
.graph .bars .hour:nth-child(11) {
  left: 400px;
}
.graph .bars .hour:nth-child(12) {
  left: 441px;
}
.graph .bars .hour:nth-child(13) {
  left: 481px;
}
.graph .bars .hour:nth-child(14) {
  left: 523px;
}
.graph .bars .hour:nth-child(15) {
  left: 564px;
}
.graph .bars .hour:nth-child(16) {
  left: 604px;
}
.graph .bars .hour:nth-child(17) {
  left: 644px;
}
.graph .bars .hour:nth-child(18) {
  left: 684px;
}
.graph .bars .hour:nth-child(19) {
  left: 724px;
}
.graph .bars .hour:nth-child(20) {
  left: 764px;
}
.graph .bars .hour:nth-child(21) {
  left: 804px;
}
.graph .bars .hour:nth-child(22) {
  left: 844px;
}
.graph .bars .hour:nth-child(23) {
  left: 883px;
}
.graph .bars .hour:nth-child(24) {
  left: 924px;
}

/* Monthly Graph */

.m_graph {
  height: 500px;
  width: 1000px;
  margin: 50px auto 0px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  position: relative;
}
.m_graph .notches {
  position: absolute;
  height: 360px;
  width: 10px;
  left: -6px;
}

.m_graph .notches .notch {
  width: 10px;
  border-top: 1px solid white;
  margin-bottom: 100px;
}

.m_graph .ylegend {
  position: absolute;
  height: 500px;
  width: 10px;
  top: -8px;
  left: -70px;
}

.m_graph .ylegend .number {
  width: 50px;
  height: 100px;
  text-align: right;
  font-size: 18px;
}

.m_graph .xlegend {
  position: absolute;
  width: 100%;
  bottom: -25px;
  left: 5px;
}


.m_graph .xlegend .day {
  display: block;
  float: left;
  width: 32px;
  text-align: center;
  font-size: 12px;
}
.m_graph .bars {
  width: 1000px;
  height: 500px;
  position: relative;
  left: 5px;
}
.m_graph .bars .day {
  height: 100%;
  width: 24px;
  margin-left: 4px;
  margin-right: 4px;
  float: left;
  display: block;
  position: relative;
}

.m_graph .bars .day .bar {
  position: absolute;
  bottom: 0px;
  height: 0px;
  width: 100%;
  background: white;
}

.m_graph .bars .day .value {
  position: absolute;
  bottom: 0px;
  font-size: 16px;
  width: 30px;
  left: -3px;
  text-align: center;
}

.clear {
  clear: both;
}